<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/encuentra.css">
    <title>Patitas</title>
</head>
<body class="header">
<body class="header">
<main>
    <header class="header">
        <nav class="navigator">
            <ul>
                <li><a href="inicio">INICIO</a></li>
                <li><a href="encuentra">ENCUENTRA TU MASCOTA</a></li>
                <li><a href="conocenos">CONOCENOS</a></li>
                <div class="nav__logo">
                    <a href="inicio"><img src="../static/img/logo.svg" height="50px" alt="logo de Patitas"></a>
                </div>
                <li><a href="adopta">ADOPTA UN AMIGO</a></li>
                <li><a href="registro">CREA TU CUENTA</a></li>
                <li><a href="login">INICIO DE SESIóN</a></li>
            </ul>
        </nav>
    </header>
    <section class="section">
        <div class="section__titulo"><h1>Adopta a un amigo</h1></div>
    </section>
    <section class="formulario">
        <section class="formulario__container">
            <div class="step__header">
                <h2 class="step__title">Filtros</small></h2>
            </div>
            <form class="formulario__container--form" action="login" method="post" autocomplete="on">
                <div div class="formulario__container--form-input">
                    <label for="especie">
                        <select name="especie">
                            <option disabled selected>Especie</option>
                            <option>Gato</option>
                            <option>Perro</option>
                        </select>
                    </label>
                    <label for="sexo">
                        <select name="sexo">
                            <option disabled selected>Sexo</option>
                            <option>Macho</option>
                            <option>Hembra</option>
                        </select>
                    </label>
                    <label for="edad">
                        <select name="edad">
                            <option disabled selected>Edad</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                        </select>
                    </label>
                    <label for="tamaño">
                        <select name="tamaño">
                            <option disabled selected>Tamaño</option>
                            <option>Pequeño</option>
                            <option>Mediano</option>
                            <option>Grande</option>
                        </select>
                    </label>
                    <label for="departamento">
                        <select name="departamento">
                            <option disabled selected>Departamento</option>
                            <option>Monntevideo</option>
                            <option>Canelones</option>
                        </select>
                    </label>
                    <label for="localidad">
                        <select name="localidad">
                            <option disabled selected>Localidad</option>
                            <option>Montevideo</option>
                            <option>Canelones</option>
                        </select>
                    </label>
                    <div class="formulario__container--form-button">
                        <input class="button" type="submit" value="Buscar"></button>
                    </div>
                </div>
            </form>
        </section>
    </section>
</main>
</body>
</html>