<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/conocenos.css">
    <title>Patitas</title>
</head>
<body class="header">
<main>
    <header class="header">
        <nav class="navigator">
            <ul>
                <li><a href="inicio">INICIO</a></li>
                <li><a href="encuentra">ENCUENTRA TU MASCOTA</a></li>
                <li><a href="conocenos">CONOCENOS</a></li>
                <div class="nav__logo">
                    <a href="inicio"><img src="../static/img/logo.svg" height="50px" alt="logo de Patitas"></a>
                </div>
                <li><a href="adopta">ADOPTA UN AMIGO</a></li>
                <li>{% if user_logueado %}<a href="registrar">INGRESAR MASCOTA</a> {% else %}<a href="registro">CREA TU CUENTA</a>{% endif %}</li>
                <li>{% if user_logueado %}<a href="me">MI PERFIL</a> {% else %}<a href="login">INICIO DE SESIóN</a>{% endif %}</li>
                {% if user_logueado %}<li><a href="logout">Logout</a></li>{% endif %}
            </ul>
        </nav>
    </header>
    <section class="section">
    <p>
        <h1> CONOCENOS </h1>

En Patitas tenemos el compromiso de “Ayudarnos mutuamente” y sobre todo nos interesa el bienestar de las mascotas, por ello integramos una web que está en constante actualización.</p>

<h3>¿Quiénes somos?</h3>
Somos una página dedicada a recibir reportes de mascotas perdidas o encontradas, con el fin de vincular a las personas entre sí. Nos interesa generar una conexión con familias interesadas en adoptar mascotas o brindar información sobre algún hallazgo.
En consecuencia, nuestra página conforma un vínculo directo, brindando la mayor cantidad de información posible sobre una mascota, ya sea datos descriptivos, fotos e inclusive datos de contacto para la localización.
Nos sentimos sumamente orgullosos de poder formar parte de esta web y lograr hacer posible la reducción de tantos animales sin hogar. Así como también, de poder brindar nuestros servicios de manera favorable para el reencuentro de aquellas mascotas que han sido extraviadas.

<h3>Nuestro propósito</h3>
Sabemos lo que significa perder a nuestra mascota y que puede ser uno de los momentos más desesperantes para una familia. Las mascotas son un miembro más del grupo familiar y el solo hecho de pensar que pueden estar solos y perdidos puede provocar una gran angustia.
Es por ello, que nosotros nos proponemos hacer que los reencuentros y los vínculos con mascotas sin hogar sean aún más sencillos y efectivos.
En simples pasos, podrás ser un integrante más de nuestra comunidad y así poder colaborar en hacer posible muchos reencuentros. De igual modo, todos colaboraremos en tu búsqueda, en caso de que tu mascota se haya perdido.

<h3>Políticas de privacidad</h3>
Patitas se compromete a respetar la privacidad de quienes visitan y utilizan su web.
La presente Política de Privacidad tiene como finalidad informar al usuario acerca del tratamiento de los datos personales que sean ingresados en el sitio web, de conformidad con la Protección de Datos de carácter personal, siendo de nuestro interés mantener en el anonimato aquellos datos que el usuario desea reservar al público.
La utilización del sitio web o de cualquiera de sus servicios asociados implica la aceptación por el usuario de las disposiciones contenidas en la presente Política de Privacidad, y que sus datos personales sean tratados según se estipula en la misma.


<h3>Contacto</h3>
Por más información, te puedes contactar con nosotros a través de info@PatitasUruguay.com
<br> Nuestro teléfono de contacto: 09P-ATI-TAS
</p>
    </section>
</main>
</body>
</html>