<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Patitas</title>
</head>
<body class="header">
<main>
    <header class="header">
        <nav class="navigator">
            <ul>
                <li><a href="inicio">INICIO</a></li>
                <li><a href="encuentra">ENCUENTRA TU MASCOTA</a></li>
                <li><a href="conocenos">CONOCENOS</a></li>
                <div class="nav__logo">
                    <a href="inicio"><img src="../static/img/logo.svg" height="50px" alt="logo de Patitas"></a>
                </div>
                <li><a href="adopta">ADOPTA UN AMIGO</a></li>
                <li><a href="registro">CREA TU CUENTA</a></li>
                <li><a href="login">INICIO DE SESIóN</a></li>
            </ul>
        </nav>
    </header>
    <section class="section">
        <div class="section__titulo"><h1>PATITAS</h1></div>
        <div class="section__bienvenidos"><h3>Bienvenidos</h3></div>
        <div class="section__parrafo"><p>Accede a nuestra búsqueda de animales y encuentra a tu mascota perdida o a un amigo fiel para toda la vida.</p></div>
        <button class="section__button"><a href="registro">Registro de mascota</a></button>
    </section>
</main>
</body>
</html>