<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Patitas</title>
</head>
<body>
<main>
    <header class="header">
        <nav class="navigator">
            <ul>
                <li><a href="inicio">INICIO</a></li>
                <li><a href="encuentra">ENCUENTRA TU MASCOTA</a></li>
                <li><a href="conocenos">CONOCENOS</a></li>
                <div class="nav__logo">
                    <a href="inicio"><img src="../static/img/logo.svg" height="50px" alt="logo de Patitas"></a>
                </div>
                <li><a href="adopta">ADOPTA UN AMIGO</a></li>
                <li><a href="registro">CREA TU CUENTA</a></li>
                <li><a href="login">INICIO DE SESIóN</a></li>
            </ul>
        </nav>
    </header>
    <section class="login">
        <section class="login__container">
            <div class="login__container--titulo"><h2>Ingreso de usuario</h2></div>
            <form class="login__container--form" action="/login" method="post" autocomplete="on">
                <div div class="login__container--form-input">
                    <input type="text" class="input" placeholder="Ingrese nombre de usuario" name="username" required>
                    <input type="password" class="input" placeholder="Ingrese contraseña" name="password" required>
                </div>
                <div class="login__container--remember-me">
                    <input type="radio" name="radio" id="radio" value="radio">  Recuérdame
                    <a href="notfound">Olvidé mi contraseña</a>
                </div>
                <div class="login__container--form-button">
                    <button class="button">Iniciar sesión</button>
                </div>
            </form>
            {% if error %}
            <p><strong>Error:</strong>{{ error }}</p>
            {% endif %}
            <section class="login__container--social-media">
                <button><img src="../static/img/google.svg" alt="Google">Inicia sesión con Google</button>
                <button><img src="../static/img/facebook.svg" alt="Facebook">Inicia sesión con Facebook</button>
                <button><img src="../static/img/twitter.svg" alt="Twitter">Inicia sesión con Twitter</button>
            </section>
            <p class="login__container--register">¿Aún no tienes ninguna cuenta? <a href="registro"> Regístrate</a></p>
        </section>
    </section>
</main>
</body>
</html>