<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/formulario.css">
    <title>Patitas</title>
</head>
<body class="header">
<main>
    <header class="header">
        <nav class="navigator">
            <ul>
                <li><a href="inicio">INICIO</a></li>
                <li><a href="encuentra">ENCUENTRA TU MASCOTA</a></li>
                <li><a href="conocenos">CONOCENOS</a></li>
                <div class="nav__logo">
                    <a href="inicio"><img src="../static/img/logo.svg" height="50px" alt="logo de Patitas"></a>
                </div>
                <li><a href="adopta">ADOPTA UN AMIGO</a></li>
                <li><a href="formulario">CREA TU CUENTA</a></li>
                <li><a href="login">INICIO DE SESIóN</a></li>
            </ul>
        </nav>
    </header>
    <section class="section">
        <h1 class="form-register__title">Registro de usuario</h1>
    </section>
    <section class="formulario">
        <section class="formulario__container">
            <div class="form-register__header">
                </div>
            <form action="/usuarios" class="form-register" method="POST" autocomplete="on">
                <div class="form-register__body">
                    <div class="step active" id="step-1">
                        <div class="step__header">
                            <h2 class="step__title">Ingrese sus datos</small></h2>
                        </div>
                        <h3>Su registro ha sido un éxito.</h3>
                        </div>
                    </div>

                </div>
            </form>
        </section>
    </section>
</main>
</body>
</html>